{% extends "encyclopedia/layout.html" %}

{% block title %}
    New entry
{% endblock %}

{% block body %}
    <h1>New page</h1>

    <form action="entry.html" method="POST">
        <label style="display: block;">Add new page title:</label>
        <input name="title" type="text" placeholder="Page title">
        <p></p>
        <label style="display: block;">Add new markdown content:</label>
        <textarea name="content" rows="10" cols="80" placeholder="Markdown content" style="height: auto; width: auto;"></textarea>
        <p></p>
        <input type="submit">
    </form>
{% endblock %}
